@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Smooch+Sans:wght@100..900&display=swap');

* {
  font-family: Playfair Display;
  margin: 0;
  padding: 0;
}

body {
  background-color: #caa8f5;
  min-width: 75%;
  cursor: url();
}

a {
  color: #ffffff;
  text-decoration: none;
}

header {
  background-color: #592e83;
  color: white;
  padding: 0px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1:hover {
  background-color: #230c33;
  border-radius: 7px;
  color: #9984d4;
  transition: 0.3;
}

header nav ul {
  list-style: none;
  display: flex;
}

header nav ul li a:hover {
  color: #9984d4;
  background-color: #230c33;
  transition: 0.3;
}

header nav ul li a {
  padding: 10px;
  border-radius: 5px;
  margin: 3px;
}

.headflex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 30px;
}
.shop-page {
  margin: 10px;
}

.shop-page h2 {
  text-align: center;
  color: #230c33;
} 
.shop-filter{
  background-color: #9984d4;
  padding: 5px;
  color: #230c33;
  font-size: 17px;
  cursor: pointer;
  border-radius: 7px;
}

.shop-filter p {
  display: inline-block;
  margin-right: 10px;
}
#category-box {
  position: absolute;
  display: none;
  margin: 5px;
  padding: 0px;
  background-color: #592e83;
  z-index: 1;
  border-radius: 10px;
}

#category-box div {
  background-color: #592e83;
  padding: 5px;
  border-radius: 10px;
}
.shop-filter:hover {
  background-color: #592e83;
  color: #ffffff;
  transition: 0.3s;
}

.shop-filter:hover #category-box {
  display: block;
  background-color: #592e83;
  transition: 0.3s;
}

#category-box div:hover {
  background-color: #9984d4;
  transition: 0.3s;
}

.search label {
  font-size: 17px;
  color: #230c33;
}
.search input {
  color: #230c33;
  background-color: #9984d4;
  font-size: 1.01em;
  width: 180px;
  padding: 5px;
  appearance: none;
  border-radius: 4px;
}

.search input:focus {
  color: #ffffff;
  background-color: #592e83;

}
.book-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.book-item img {
  background-origin: content-box;
}

.book-item {
  background-color: #9984d4;
  align-items: center;
  border-radius: 8px;
  box-sizing: content-box;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 250px;
  text-align: center;
  padding: 10px;
}

.book-list .book-item:hover{
  background-color: #592e83;
  transition: 0.3s;
}
.book-list .book-item:hover .buy-button {
  background-color: #9984d4;
  transition: 0.3s;
}
.book-list .book-item:hover img {
  transform: scale(1.03);
  box-shadow: -1px -1px 10px black;
  transition: 0.2s;
}

.book-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.book-item h3 {
  font-size: 20px;
  margin: 15px 0;
}

.book-item p {
  font-size: 16px;
  margin-bottom: 10px;
}

.buy-button {
  background-color: #592e83;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 18px;
  text-decoration: none;
  border-radius: 5px;
}

.buy-button:hover {
  color: #592e83;
  background-color: #230c33;
  transition: 0.3;
}

footer {
  background-color: #333;
  color: #caa8f5;
  padding: 15px 0;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
}

footer ul {
  list-style: none;
  display: inline-flex;
  gap: 15px;
  margin-top: 10px;
}

footer ul li a {
  color: #caa8f5;
  text-decoration: none;
}

footer ul li a:hover {
  text-decoration: underline;
}