
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.login-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #caa8f5;
}

.login-container {
  background-color: #9984d4;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.login-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.input-group {
  margin-bottom: 20px;
  text-align: left;
}

.input-group label {
  font-size: 14px;
  color: #230c33;
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #caa8f5 !important;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-group input:focus {
  outline: none;
  border-color: #592e83;
  background-color: #caa8f5;
}

.forgot-password {
  text-align: right;
  margin-bottom: 20px;
}

.forgot-password {
  font-size: 14px;
  color: #230c33;
  text-decoration: none;
}

.forgot-password *{
  font-size: 14px;
  color: #230c33;
  text-decoration: none;
  cursor: pointer;
}

.forgot-password:hover {
  text-decoration: underline;
  
}

.login-btn {
  background-color: #592e83;
  color: white;
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.signup-btn:hover {
  background-color: #230c33;
}

.signup-btn {
  background-color: #592e83;
  color: white;
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.login-btn:hover {
  background-color: #230c33;
}

.signup-link {
  margin-top: 1rem;
  font-size: 14px;
  cursor: pointer;
}

.signup-link a {
  color: #230c33;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}

.login-link {
  margin-top: 1rem;
  font-size: 14px;
  cursor: pointer;
}

.login-link a {
  color: #230c33;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}
